
.home {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parentCards {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
  align-items: center;
}
.filterRectangle{
  position: static;
}