
.filterRectangle {
    /* width: 75%; */
    padding: 15px;
    border-radius: 42px;
    background-color: #eaf1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .filterItem {
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* min-width: 180px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.filterRectangle .css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root,
.filterRectangle .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 40px !important;
  border: none !important;
}

.css-axw7ok {
  padding-left: 10px !important;
}

.filterItem .css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-width: 0 !important ;
}

.css-1uent87-MuiButtonBase-root-MuiButton-root {
  color: white !important;
}
